{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Genres</th>
                <th>Annee_edition</th>
                <th>Nombre_pages</th>
                <th>Disponibilité</th>
                {# liens pour les admins #}
                {% if is_granted('ROLE_ADMIN')%}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">{{ livre.titre }} ℹ️</a>
                </td>
                <td>{{livre.auteur.nom}} {{livre.auteur.prenom}}</td>
                <td>
                    <ul>
                        {% for genre in livre.genres %}
                        <li>{{ genre.nom }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ livre.anneeEdition }}</td>
                <td>{{ livre.nombrePages }}</td>
                {% if livre.isAvailable %}
                <td>disponible 🙂</td>
                {% else %}
                <td class="nonDispo">non disponible ☹️</td>
                {% endif %}
                {# liens pour les admins #}
                {% if is_granted('ROLE_ADMIN')%}
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN')%}
    <a href="{{ path('livre_new') }}">Create new</a>
    {% endif %}
{% endblock %}
