<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{path('home_index')}}">Accueil</a>
                </li>
                <li class="nav-item">
                  {# <a class="nav-link" href="{{path('login')}}">Login</a> #}
                  <a class="nav-link" href="https://127.0.0.1:8000/login">Connection</a>
                </li>
                {# liens pour les emprunteurs et admins #}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                  <a class="nav-link" href="{{path('emprunt_index')}}">emprunts</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_EMPRUNTEUR') %}
                <li class="nav-item">
                  <a class="nav-link" href="{{path('emprunt_index')}}">Mes emprunts</a>
                </li>
                {% endif %}
                {# liens pour les admins #}
                {% if is_granted('ROLE_ADMIN')%}
                <li class="nav-item">
                  <a class="nav-link" href="{{path('user_index')}}">Utilisateurs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{path('livre_index')}}">Livres</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{path('genre_index')}}">Genres</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{path('auteur_index')}}">Auteurs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{path('emprunteur_index')}}">emprunteurs</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
